.header {
  height: 155px;
  display: flex;
  justify-content: center;
  background-color: rgb(7, 50, 129);
}

.logo {
  width: 130px;
  height: 130px;
  margin-top: 10px;
}

.title {
  color: rgb(195, 152, 243);
  font-size: 3rem;
  margin-left: 15px;
  margin-top: 50px;
  font-weight: bolder;
}
